---
permalink: /devotional/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/devotionals/">
  <link rel="canonical" href="https://yaaazzcreative.com/devotionals/">
  <title>Redirecting...</title>
  <script>window.location.href = "/devotionals/"</script>
</head>
<body>
  <p>Redirecting to <a href="/devotionals/">the new page</a>...</p>
</body>
</html>
